@import '@/styles/variables';
@import '@/styles/breakpoints';
@import '@/styles/mixins/visual';

.pageContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.emptyContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.emptySection {
  margin-bottom: 0;
}

.emptyContainer > :last-child {
  margin-top: auto;
}

.spaceWithMarginBottom {
  flex: 1;
  margin-bottom: 62px;

  @include response('desktop') {
    margin-bottom: 23px;
  }

  @include response('tablet') {
    margin-bottom: 0;
  }
}

.wrapper {
  padding: 50px 0 81px;

  @include response('desktop') {
    padding: 20px 0 94px;
  }

  @include response('tablet-medium') {
    padding: 0 0 18px;
  }
}

.resultControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  font-family: 'Alata';
  font-size: 44px;
  line-height: 37px;
  padding: 13px 0;

  @include response('desktop') {
    padding: 8px 0;
  }

  @include response('tablet-medium') {
    font-size: 20px;
    line-height: 37px;
    padding: 1.5px 0;
  }
}
