@import './variables';
@import './breakpoints';
@import './mixins/visual';

@import 'swiper/css';
@import 'swiper/css/grid';
@import 'swiper/css/pagination';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anonymous Pro';
  font-weight: 400;
  font-size: 24px;
  color: $color-base;
  background-color: $dark-sky-bg;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  line-height: 0;
  text-decoration: none;
}

button {
  border: none;
  background: inherit;
  color: inherit;
}

li,
button {
  @include cursor;
}

button,
button::after,
button::before,
a {
  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s;
}

h1 {
  @include heading-font-line;
}

h3 {
  font-family: 'Alata';
  font-weight: 400;
  @include font-line(40px);
  letter-spacing: 0px;

  @include response('desktop') {
    @include font-line(20px);
  }
}

h4 {
  font-family: 'Alata';
  font-weight: 400;
}
