@import "@styles/variables";
@import "@styles/breakpoints";
@import "@styles/mixins/visual";

.imageSection {
  border: 2px solid;
  @include border-radius-base;

  @include response("wide") {
    max-height: 400px;
  }

  @include response("desktop-medium") {
    min-height: 400px;
    margin: 0 15px;
  }
}

.uploadLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 238px 0;

  @include response("wide") {
    padding: 0;
  }
}

.imagePreview {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  @include border-radius-base;
  z-index: -1;
  opacity: 0.5;
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
  border: 2px solid;
  @include border-radius-round;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: $color-base;
    top: 50%;
    transform: translateX(-50%) rotate(90deg);
    left: 50%;
  }

  &::after {
    transform: translateX(-50%) rotate(0deg);
  }
}

.inputUpload {
  display: none;
}

.errorInput {
  @include field-error;

  .circle {
    &::after,
    &::before {
      background-color: $golden;
    }
  }
}

.errorMessage {
  @include error-message;
}
